<!DOCTYPE html>
<html>
<head>
	<title>Angular Typescript Demo App</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/content/css/site.css">
</head>
<body ng-app="AppDemo" ng-cloak>
	<div ng-controller="RegisteredController as vm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span ng-if="! vm.registered">Angular TypeScript Demo App</span>
				<span ng-if="vm.registered" ng-class="vm.registered.isBornFriday() ? 'green-friday':''">Hello, {{vm.registered.lastName}} {{vm.registered.name}}</span>
				<span flex></span>
				<md-button class="md-raised" href="#/register">Register</md-button>
				<md-button class="md-raised" href="#/accounts">Accounts</md-button>
				<md-button class="md-raised" href="#/users">Dummy users</md-button>
			</div>
		</md-toolbar>
	</div>
	
	<div class="container" ng-view></div>

	<div>
		<div ng-controller="FooterController as vm">
			<p>{{vm.ApplicationName}} {{vm.version}}
		</div>
	</div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="client/app.module.footer.js"></script>
	<script src="client/app.module.directives.js"></script>
	<script src="client/app.module.js"></script>
	<script src="client/app.route.js"></script>
	<script src="client/app.date.locale.provider.js"></script>
	<script src="client/services/accountservice.js"></script>
	<script src="client/services/usersFactory.js"></script>
	<script src="client/services/dbservice.js"></script>
	<script src="client/services/valueService.js"></script>
	<script src="client/controllers/register.js"></script>
	<script src="client/controllers/accounts.js"></script>
	<script src="client/controllers/users.js"></script>
	<script src="client/controllers/registered.js"></script>
	<script src="client/controllers/footerController.js"></script>
	<script src="client/models/account.js"></script>
	<script src="client/directives/input.directive.js"></script>

</body>

</html>