<md-content>
	<p>Registration form</p>
	<form name="registration" ng-submit="vm.submit()" novalidate >
			<input type="text" ng-model="vm.message">
			<app-input message="vm.account.name" label="Name"></app-input>
			<app-input message="vm.account.lastName" label="Last Name"></app-input>
			<app-input message="vm.account.address" label="Address"></app-input>
			<md-input-container  ng-class="vm.account.isBornFriday() ? 'green-friday':'' ">
				<label>Date of birth</label>
				<md-datepicker 
					ng-model="vm.account.dateOfBirth" 
					md-placeholder="Enter date" 
					md-max-date="vm.maxDate" 
					ng-model-options="{ timezone: 'utc' }">
				</md-datepicker>
			</md-input-container>
			<div>
				<p>{{vm.log}}</p>
			</div>

		<md-button class="md-raised md-primary" type="submit">Register</md-button>
	</form>
</md-content>
<pre>{{vm | json}}</pre>